<a
  href='{{ child_link.url }}'
  class='
    whitespace-normal lg:whitespace-nowrap text-base lg:text-lg w-full h-full py-4 lg:py-2 px-3 flex items-center group relative
    {% if swiper_link %} justify-center lg:justify-start gap-0 md:gap-4 text-black  {% else %} text-white lg:text-black gap-4 {% endif %}
  '
>
  {%- for grandchild_link in child_link.links -%}
    {% if grandchild_link.title contains 'icon-' %}
      {% assign icon = grandchild_link.title %}
      <span class='text-white lg:text-[grey] transition duration-200 group-hover:lg:text-[#A42325]'>
        {% render 'icons', icon_name: icon %}
      </span>
    {% elsif grandchild_link.title contains 'https' %}
      {% assign icon = grandchild_link.title %}
      <span class='flex justify-start items-center {% if swiper_link %} grayscale-0 lg:grayscale {% else %} lg:grayscale {% endif %} transition duration-200 group-hover:grayscale-0 w-8 h-8 overflow-hidden'>
        <img src='{{ icon }}'>
      </span>
    {% endif %}
  {%- endfor -%}
  <span class='font-semibold lg:font-normal {% if swiper_link %} hidden md:!flex font-semibold lg:font-normal {% endif %}'>
    {{ child_link.title }}
  </span>
  <span class='invisible lg:visible absolute right-4 opacity-0 transition duration-500 -translate-x-2 text-[grey] w-4 group-hover:opacity-100 group-hover:translate-x-0'>
    {%- render 'icon-arrow' -%}
  </span>
</a>
