{% assign swiper_link = false %}
<div class='flex flex-col'>
  <ul class='flex flex-col gap-4 w-full mb-10'>
    {% for link in linklists['collection-menu'].links %}
      {% if link.title != 'Shop by Model' %}
        <h2 class='text-[28px] uppercase font-semibold'>{{ link.title }}</h2>
        {%- if link.links != blank -%}
          <ul class='mm-grid grid-cols-2 lg:flex lg:flex-col gap-4 {% unless forloop.last %} mb-4 {% endunless %}'>
            {%- for child_link in link.links -%}
              <li class='flex items-center w-full shadow'>
                {% render 'collection-menu-link', child_link: child_link %}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {% else %}
        <h2 class='text-[28px] uppercase font-semibold'>{{ link.title }}</h2>
        {%- if link.links != blank -%}
          <menu-swiper class='menu-swiper swiper w-full max-w-[100vw] py-1'>
            <ul class='swiper-wrapper lg:flex lg:flex-col gap-4'>
              {%- for child_link in link.links -%}
                {% assign swiper_link = true %}
                <li class='flex items-center {% if swiper_link %} swiper-slide w-fit lg:!w-full {% else %} w-full {% endif %} shadow'>
                  {% render 'collection-menu-link', child_link: child_link, swiper_link: swiper_link %}
                </li>
              {%- endfor -%}
            </ul>
          </menu-swiper>
        {%- endif -%}
      {% endif %}
    {% endfor %}
  </ul>
  {% if section.settings.disclaimer_title != blank and section.settings.disclaimer_body != blank %}
    <div
      x-data='{ open : false }'
      class='flex flex-col bg-[#FFECEC] lg:bg-transparent text-[#A42325] p-4 lg:px-0'
    >
      <div class='flex gap-2 items-center' @click='open =! open'>
        {% render 'icons', icon_name: 'icon-info' %}
        <span class='font-semibold text-base uppercase'>{{ section.settings.disclaimer_title }}</span>
      </div>
      <div class='invisible h-0 lg:h-auto lg:visible transition duration-500' :class="open ? '!visible !h-auto' : ''">
        <p class='text-sm mt-4'>{{ section.settings.disclaimer_body }}</p>
      </div>
    </div>
  {% endif %}
</div>
