<div class='flex flex-col overflow-hidden pb-10'>
  <div class='flex items-center whitespace-nowrap mb-8 '>
    <h2 class='font-semibold uppercase inline'>{{ heading }}</h2>
    <div class='bg-[#A42325] h-[1px] w-full !block grow ml-4'></div>
  </div>
  <swiper-slider class='swiperSlider max-w-full pt-1 relative group mb-10 pb-8'>
    <div class='swiper-wrapper flex max-w-full'>
      {% for product in products %}
        <div class='swiper-slide flex flex-col'>
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            lazy_load: lazy_load,
            skip_styles: skip_card_product_styles,
            quick_add: section.settings.quick_add,
            section_id: section.id
          %}
        </div>
      {% endfor %}
    </div>
    <div
      class='!hidden lg:!block swiper-button-prev text-white p-2 bg-black w-8 h-8 absolute left-0 -mt-20 invisible group-hover:visible transition duration-500'
    >
      {% render 'icons', icon_name: 'icon-chevron-left' %}
    </div>
    <div
      class='!hidden lg:!block swiper-button-next text-white p-2 bg-black w-8 h-8 absolute right-0 -mt-20 invisible group-hover:visible transition duration-500'
    >
      {% render 'icons', icon_name: 'icon-chevron-right' %}
    </div>
    <div class='swiper-scrollbar !z-1'></div>
  </swiper-slider>
  {% if view_all %}
    {% render 'button', text: 'View All', link: collection.url, class: 'dark' %}
  {% endif %}
</div>
